
.benefit-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, lfr));
    gap: 80px;
}

.benefit {
    border: 1px solid #ccc;
    padding: 16px 16px 32px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.benefit .icon {
    color: #ff4321;
    font-size: 64px;
}

.benefit h4 {
    margin-bottom: 24px;
    # color: white;
    color: black;
}

.benefit .text {
    font-size: 24px;
    # color: white;
    color: black;
}

.title-why-shop h2 {
    margin-bottom: 24px;
    color: black;

}

.section {
    padding: 160px 0 0 0;
  }
  

.benefit-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 80px;
  # background-color: #002c3e;
    

}

.text {
    padding: auto;
    padding-left: 10%;
}


