
/*----⚡⚡CSS stylesheet not link⚡⚡------*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #ffffff;
    color: #1e1e27;
}

div{
    display: block;
    position: relative;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin-bottom: 0px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    transition: all 200ms ease;
}

a, a:hover, a:active, a:link{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active{
    position: relative;
    color: #ff6347;
}

p a:hover{
    color: #ff6347;
    background: #fde0db;
}

p a:hover::after{
    opacity: 0.2;
}

::selection{
    background: #fde0db;
    color: #ff6347;
}

p::selection{
    background: #fde0db;
}

h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6{
    color: #282828;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.trans_300{
    transition: all 300ms ease;
}

::input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777;
}

.super_container{
    width: 100%;
    overflow: hidden;
}

.fill_hight{
    height: 100%;
}

/*-----3.Home-----*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 10;
}

/*------3.1 Main Navigation--------*/



.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav url {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


.checkout{
    color: #b5aec4;
}

.checkout a{
    background: #eceff6;
    border-radius: 50%;
}

.checkout_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #ffffff;
}

/*----3.2 LOGO-----*/

.logo_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.logo_container a{
    font-size: 20px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
}

.logo_container a span{
    color: #fe4c50;
}

/*---3.3 Main Slider----*/

.main_slider{
    width: 100%;
    height: 700px;
    background-position: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}

.main_slider_content{
    width: 60%;
}

.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.main_slider_content h1{
    font-weight: 400;
    line-height: 1;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}

.btn:hover {
    background: none;
    border: solid  #ff523b;
}

